@model IEnumerable<VideoGameStore.Models.Game>

@{
    ViewData["Title"] = "List Of Games";
}
<title>@ViewData["Title"]</title>
<h1>@ViewData["Title"]</h1>
<p style="color: red;"><strong>@TempData["searchBoxErrors"]</strong></p>
<form asp-action="ShowSearchResults">
    <div>
        <input id="searchPhrase" class="form-control" name="searchPhrase" style="width: 200px;" placeholder="Search for a game..." />
        <input type="submit" value="Search" class="btn btn-primary" id="btnSearch" name="btnSearch" style="margin-top: 10px; margin-bottom: 10px;" />
        <a asp-action="Index" style="float: right;">Refresh Game List</a>
        <select id="searchDropdown" name="searchDropdown">
            <option value="Sort By">Sort By</option>
            <option value="A-Z">A-Z</option>
            <option value="Z-A">Z-A</option>
            <option value="Newest">Newest Release</option>
            <option value="Cheapest">Cheapest First</option>
            <option value="Expensive">Most Expensive First</option>
        </select>
    </div>
</form>


@foreach (var item in Model)
 { 
<div style="border-style: solid; margin-bottom: 5px; width: 1000px; overflow: hidden;">
    <p style="float: right; font-weight: bold; margin-right: 5px;">$@Html.DisplayFor(ModelItem => item.gamePrice)</p>
    <a asp-controller="Games" asp-action="Details" asp-route-id="@item.gameGuid" style="text-decoration: none; color: black;">
        <h3>@Html.DisplayFor(ModelItem => item.gameTitle)</h3>
    </a>
    <p style="margin-left: 10px;">Game Description: @Html.DisplayFor(ModelItem => item.gameDescription)</p>
    <p style="margin-left: 10px;">Game Category: @Html.DisplayFor(ModelItem => item.gameCategory)</p>
    <p style="margin-left: 10px;">Game Release Date: @Html.DisplayFor(ModelItem => item.gameReleaseDate)</p>
    <div class="btn-group" style="float: right; margin-bottom: 5px; margin-right: 5px;">
        <a asp-action="Index" asp-controller="Games" class="btn btn-primary btn-admin">Add To Cart</a>
        <a asp-action="Index" asp-controller="Games" class="btn btn-primary btn-admin">Add Review</a>
    </div>
</div>
   
 }

